body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* header section styles */

.blur-bg-img {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.504)), url("donate-today-main/images/donation3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  filter: blur(2px);
}


.header-section-text {
  text-align: center;
  width: 1000px;
  position: absolute;
  top: 150px;
  left: 170px;
}

.header-section-text h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}

.header-section-text p {
  color: rgb(242, 237, 237);
  font-weight: 100;
  margin-bottom: 40px;
}

.button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 18px;
  background: rgb(242, 89, 58);
  border: none;
  color: #f1f1f1;
}

.button:hover {
  box-shadow: 8px 8px 20px black;
  color: rgb(60, 56, 56);
}

/* Donate today section styles*/

.donate-today {
  text-align: center;
}

.donate-today h2 {
  font-size: 45px;
  font-weight: 900;
  margin-top: 110px;
  margin-bottom: 25px;
}

.donate-today p {
  color: gray;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 60px;
}

.donation-amount {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 300px 20px 300px;
}

.amount {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: rgb(240, 240, 250);
  text-align: center;
}

.amount p {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 900;
  color: rgb(117, 110, 110);
}

.default {
  border: 2px solid tomato;
  background-color: rgb(253, 229, 225);
}

.default p {
  color: tomato;
}

.input {
  display: inline-block;
  width: 700px;
  height: 50px;
  border: none;
  border-bottom: 1px solid gray;
  margin: 30px auto 40px auto;
  text-align: center;
  font-size: 18px;
}
 
/* removing the arroy from the input number */

.donate-today input::-webkit-outer-spin-button,
.donate-today input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donate-today input[type=number] {
  -moz-appearance: textfield;
}

/* our donate plan section */

.donation-plan{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.plan-container{
  display: flex;
  margin: auto 120px;
  justify-content: center;
}

.plan-card{
  width: 340px;
  height:340px;
  margin: auto 10px;
  text-align: left;
}

.education-icon{
  width: 55px;
}

.plan-card  h3{
  font-size: 23px;
}

.plan-card p{
  color: gray;
  font-size: 17px;
  font-weight: 100;
}

.card-child{
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 35px;
  border-radius: 10px;
}

#food{
  background-color: #e2fdffdf;
}

#shelter{
  background-color: #fde3e3e3;
}

#education{
  background-color: #fff4d6d8;
}

.donation-plan h2{
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20px;
}

.donation-plan p{
  color: gray;
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 50px;
}

/* Their lives depend on your donation section  */

.lives-container{
  display: flex;
  margin: 10px 150px;
}

.lives{
  width: 50%;
}

.lives-text{
  padding: 10px;
}

.lives h2{
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20px;
}

.lives p{
  color: gray;
  font-size: 17px;
  font-weight: 100;
  margin-top: 20px;
}

.lives-img img{
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.contribute-button{
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 550;
  background: rgb(242, 89, 58);
  border: none;
  color: #f1f1f1;
  margin-top: 20px;
}

.contribute-button:hover{
  box-shadow: 8px 8px 30px gray;
  color: rgb(60, 56, 56);
}

/* They need us section  */

.they-need-us{
  margin: 150px auto;
}

.second-lives{
 width: 50%;
}

.second-lives-texts{
  padding: 5px 30px 40px 80px;
}